// Fonts
$font-primary:    'Open Sans', sans-serif;
$font-secondary:     'Red Hat Text', sans-serif;

// Colors
$primary-color: #f44336;
$color-white: #fff;
$color-light-black: #0f1210;
$color-shadow: #2e2b2b;
$color-light-gray: #7e7e7e;
$color-banner-background: #3a3b37;
$color-line-separator: #d8cfcf;
