// Fonts
$font-primary:    'Open Sans', sans-serif;
$font-secondary:     'Red Hat Text', sans-serif;

// Colors
$primary-color: #f44336;
$color-white: #fff;
$color-light-black: #0f1210;
$color-light-gray :#7e7e7e;
