@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:regular,bold,italic&subset=latin,latin-ext');
@import 'variables';

body {
  margin: 0;
  font-family: $font-primary;
  box-sizing: border-box;
}

h1, h2, h3 {
  font-family: $font-secondary;
}