@import '../../../variables';

.menuitem {
    height: 200px;
    background-size: cover;
    background-position: center;
    border-radius: 26px;
    box-shadow: 3px 4px 9px 0px #32322e;
    padding: 20px 0 0 20px;
    box-sizing: border-box;
    margin-top: 5px;
    filter: contrast(80%);
    transition-property: margin-top filter;
    transition-delay: 0.1s;
    transition-duration: 0.2s;

    &:hover {
        margin-top: 0px;
        // margin bottom to push the bottom item, and not make it move!
        margin-bottom: 5px;
        cursor: pointer;
        filter: contrast(100%);
        width: 100%;
    }
}

.menuitem_title {
    background: rgba(255, 255, 255, 0.7);
    padding: 10px;
    border-radius: 7px;
    font-family: $font-secondary;
    font-weight: 600;
}