.banner {
  background-image: url("../../assets/images/banner.jpg");
  height: 300px;
  margin-top: 47px;
  filter: contrast(75%);
  -webkit-filter: contrast(75%);
  background-position: center;
  background-size: cover;
}
