@import "../../variables";
@import "../../mixins";

.dialog__shadow {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: $color-light-gray;
  z-index: 1000;
  opacity: 0.6;
}

.dialog {
  position: fixed;
  width: 500px;
  max-height: calc(100% - 100px);
  z-index: 2000;
  background-color: $color-white;
  // position from the 50% - half of the width to center
  left: calc(50% - 250px);
  top: 75px;
  display: flex;
  flex-direction: column;
}

.dialog__content {
  overflow: auto;
  padding: 0 20px;
}

.dialog__footer {
  border: 1px solid;
  height: 80px;
  background-color: #3a3b37;
  @include center-content;
}

.dialog__banner {
  height: 160px;
  background-position: center;
  background-size: cover;
}

.dialog__title {
  font-family: $font-primary;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.6);
  position: absolute;
  top: 80px;
  font-weight: 600;
}

.custom-button {
  @include center-content;
  height: 50px;
  width: 200px;
  background-color: #f44336;
  color: white;
  cursor: pointer;
  font-weight: 600;
}

.button-disabled {
  opacity: 0.5;
  background-color: grey;
  pointer-events: none;
}
